<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoreCompat.Portable.Licensing" version="1.2.4" targetFramework="net472" />
  <package id="DelsysAPI" version="2.0.1" targetFramework="net472" />
  <package id="MathNet.Numerics" version="4.9.0" targetFramework="net472" />
  <package id="Plugin.BLE" version="2.1.1" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net472" />
  <package id="Stateless" version="4.4.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>